.title {
    text-align: center;
}

.subtitle {
    text-align: center;
}

p {
    text-align: center;
    font-size: 18px;
}

.login_form {
    margin: 0 auto;
    padding: 20px;
}

.head_margin {
    margin-top: 90px;
}

@media (min-width: 1000px) {
    .login_form {
        max-width: 800px!important;
    }
}